[submodule "workspace/ros2_ws/src/gazebo_environment"]
	path = workspace/ros2_ws/src/gazebo_environment
	url = https://github.com/ITU-EMAV/gazebo_environment.git
[submodule "workspace/ros2_ws/src/sac_autonomy"]
	path = workspace/ros2_ws/src/sac_autonomy
	url = https://github.com/ITU-EMAV/sac_autonomy.git
	branch = main
[submodule "workspace/ros2_ws/src/external/FAST_LIO_ROS2"]
	path = workspace/ros2_ws/src/external/FAST_LIO_ROS2
	url = https://github.com/Ericsii/FAST_LIO_ROS2.git
